---
import { getCollection } from 'astro:content';
import { urlForImage } from '../sanity/urlForImage';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import { useSanityClient } from '@sanity/astro';

// const projects = (await getCollection('work')).sort(
// 	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
// );
const works = await useSanityClient().fetch(`*[_type == "works"]`);
const projects = works.map((work: any) => {
	return {
		data: {
			...work,
			img: urlForImage(work.imgUrl.asset)
		},
		slug: work.slug.current
	}
});
---

<BaseLayout
	title="My Work | Raúl de Diego"
	description="Learn about Raúl de Diego's most recent projects"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="My Work"
				tagline="See my most recent projects below to get an idea of my past experience."
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project: any) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
