---
import BaseLayout from '@/components/layouts/BaseLayout.astro';

import ContactCTA from '@/components/common/ContactCTA.astro';
import PortfolioPreview from '@/components/common/PortfolioPreview.astro';
import Hero from '@/components/common/Hero.astro';
import Grid from '@/components/common/Grid.astro';

import {
  getCurrentTranslatedSectionFromUrl,
  getLangFromUrl,
  useTranslations,
} from '@/i18n/utils.i18n';
import { getWorks } from '@/sanity/queries';
import Categories from '../common/Categories.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const works = await getWorks(lang);
const translatedSection = getCurrentTranslatedSectionFromUrl(Astro.url);
---

<BaseLayout
  title={`${translatedSection} | ${t('name')}`}
  description={`Learn about ${t('name')}'s most recent projects`}
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero title={t('work.title')} tagline={t('work.tagline')} align="start" />
      <Grid variant="offset">
        {
          works.map((work: any) => (
            <li>
              <PortfolioPreview work={work} />
            </li>
          ))
        }
      </Grid>
      <Categories />
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
